node_modules
uploads
temp
temp2
.env
.gitignore
deprecated
*__pycache__
*.tar

test-results
text.txt
docker-compose.dev.yml
index222.html
upload22222.js
越えられないフレンの読み取り能力の壁に絶望する葛葉【にじさんじ】【手書き切り抜き】 [O22z_ZT98SU].mp3
test.js
越えられないフレンの読み取り能力の壁に絶望する葛葉【にじさんじ】【手書き切り抜き】 \[O22z_ZT98SU].mp3
back/worker/cookies.txt
back/worker/www.youtube.com_cookies.txt
back/worker/www.youtube.com_cookies(1).txt
